{% extends "root.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'home/index.css' %}">
{% endblock %}

{% block content %}
{% if submitted %}
    <p style="color:green;" class="alert-success">
        🎉 Task added successfully!
    </p>
{% endif %}
<div class="intro">
    <p><span id="intro-text">
        Welcome to my First
        <br>Full Stack <br>Mini Project
    </span>
   <br><p>a simple task manager running CRUD operations:
   Create-Update-Read-Delete</p>
    </p>
</div>

<div class="Menu">
    <h1>MENU</h1>
    <ul style="list-style-type: none;">
        <a href="{% url 'add_task' %}">+      Create task</a>
        <a href="{% url 'view_tasks' %}"><img src="{% static 'home/eye.svg' %}" alt="Read Tasks">    View tasks</a>
    </ul>
</div>

{% endblock %}


